[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
simple_conter_er = "EKpNvKTXRa3b8qHY9WgJaeVpRBqiELRm2PTygRB3CMLG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "NODE_OPTIONS='--import tsx' yarn run mocha --timeout 1000000 tests/**/*.ts"
